html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #DCDCDC;
    overscroll-behavior: contain;
    display:flex;
    flex-direction:column;
}

footer {
    font-weight: 700;
    font-style: italic;
    text-align: center;
    margin: auto auto 0;
    padding: 1rem;
}
